<footer class="nav border-top">
    <div class="f-info">
        <div class="f-social-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="name">&copy;WanderLust Private Limited</div>
        <!-- <div class="brand"><i class="fa-regular fa-compass"></i></div> -->
        <div class="info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>