<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <h2 class="col-6 offset-3 mt-3">SignUp on wanderlust</h2>
    <div class="col-6 offset-3">
        <form method="POST" action="/signup" class="needs-validation" novalidate>
        <div>
                    <label for="username" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control" required></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
        </div>
        <div>
                    <label for="email" class="form-label">Email</label>
                    <input name="email" type="email" class="form-control" required></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
        </div>
        <div>
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" required></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
        </div> 
        <button type="submit" class="btn btn-success mt-3 " style="margin-bottom: 32%">Signup</button>
        </form>
    </div>
</div>